#Libraries
Newtonsoft.Json.6.0.8/
#
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.s#1
*.b#1
*.b#2
Eagle/RFBoardV4/main.b#3
*.b#5
Eagle/RFBoardV4/main.b#4
*.b#6
*.s#2
*.s#3
Eagle/RFBoardV4/main.s#4
*.s#5
*.b#3
*.b#4
*.b#8
*.b#9
*.b#7
*.s#7
*.s#9
*.s#4
*.s#8
*.s#6
*.l#1
*.l#2
*.l#3
*.l#4
*.l#5
*.l#6
*.l#7
Eagle/RFBoardV4/main.pro
*.job
*.pro
*.job
*.sdf
Azure/WilkieHomeAutomation/WilkieHomeAutomation.VC.opendb
*.sdf
Azure/WilkieHomeAutomation/WilkieHomeAutomation.sdf
Azure/WilkieHomeAutomation/WilkieHomeAutomation.sdf
Azure/SensorWebApp/packages/*.*
RPi/RFHub/browse.VC.db
Soiler/SoilerGateway/properties.h
Sprinter/Arduino/ArduinoOutput/
/Sprinter/Arduino/PowerMonitor/.vscode
/Sprinter/Arduino/PowerMonitor/.vscode
/Sprinter/Arduino/SprinterDash/TripDisplay/.vscode
/Sprinter/Arduino/SprinterDash/CANCapture/.vscode
/Sprinter/Arduino/PowerMonitor/.vscode
/Sprinter/Arduino/SprinterDash/CANCapture/.vscode
/Sprinter/Arduino/SprinterDash/TripDisplay/.vs
/Sprinter/Arduino/SprinterDash/TripDisplay/.vscode
