*.pdb
*.winmd
WP8.1/WilkieHome/BackgroundTask/obj/ARM/Debug/BackgroundTask.csproj.FileListAbsolute.txt
*.cache
WP8.1/WilkieHome/NotificationsExtensions/obj/ARM/Debug/NotificationsExtensions.csproj.FileListAbsolute.txt
*.winmdobj
*.pdb
*.pri
*.intermediate
Arduino/MicroRFv31/MicroRFv31.ino